:root {
    --light-orange: #ffc75f;
    --white: #ffffff;
    --light-gray: #cccccc;
    --dark-gray: #333333;
    --border-color: #ddd;
    --editor-bg: #f9f9f9;
    --dropbtn-bg: #ff8c00;
    --dropbtn-hover-bg: #ff4500;
    --export-btn-bg: #008000;
    --export-btn-hover-bg: #006400;
    --import-btn-bg: #0000ff;
    --import-btn-hover-bg: #00008b;
    --clear-btn-bg: #ff0000;
    --clear-btn-hover-bg: #8b0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    margin: 4px 0 4px 20px;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--light-orange);
}

nav {
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.navbar-title {
    font-size: 24px;
    color: var(--dark-gray);
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.Key-Partners {
    grid-area: Key-Partners;
}

.Customer-Segment {
    grid-area: Customer-Segment;
}

.Unique-Value-Proposition {
    grid-area: Unique-Value-Proposition;
}

.Key-Activities {
    grid-area: Key-Activities;
}

.Key-Resources {
    grid-area: Key-Resources;
}

.Customer-Relationships {
    grid-area: Customer-Relationships;
}

.Channels {
    grid-area: Channels;
}

.Cost-Structure {
    grid-area: Cost-Structure;
}

.Revenue-Streams {
    grid-area: Revenue-Streams;
}

.container {
    display: grid;
    grid-template-columns:
        repeat(2, minmax(14%, auto)) repeat(2, minmax(7%, auto))
        repeat(2, minmax(14%, auto));

    gap: 20px;
    padding: 20px;
    grid-template-areas:
        'Key-Partners Key-Activities Unique-Value-Proposition Unique-Value-Proposition Customer-Relationships Customer-Segment'
        'Key-Partners Key-Resources Unique-Value-Proposition Unique-Value-Proposition Channels Customer-Segment'
        'Cost-Structure Cost-Structure Cost-Structure Revenue-Streams Revenue-Streams Revenue-Streams';
    margin: 20px auto;
}

.canvas-item {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1366px) {
    .container {
        grid-template-columns: repeat(4, minmax(10.5%, auto));
        gap: 0;
        margin: 0;
        padding: 5px;
    }

    .canvas-item,
    .Problem {
        border-radius: 0;
    }
}

.editor {
    display: block;
    width: 100%;
    border: 1px solid var(--light-gray);
    resize: none;
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
    min-height: 100px;
    background-color: var(--editor-bg);
    border-radius: 4px;
    overflow: auto;
    outline: none;
    white-space: pre-wrap;
}

.preview {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tooltip {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: var(--white);
}

.dropbtn,
.exportDropbtn,
.importJson,
.clearEditors,
.informationDropbtn {
    font-weight: 600;
    color: var(--white);
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    width: 120px;
    text-align: center;
}

.dropbtn {
    background-color: var(--dropbtn-bg);
}

.dropbtn:hover {
    background-color: var(--dropbtn-hover-bg);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
    border-radius: 0;
}

.dropdown-content button {
    display: block;
    width: 120px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content button {
    border-radius: 0;
}

.dropdown:hover .dropdown-content button:first-child {
    border-radius: 5px 5px 0 0;
}

.dropdown:hover .dropdown-content button:last-child {
    border-radius: 0 0 5px 5px;
}

.exportDropbtn,
.exportOption {
    background-color: var(--export-btn-bg);
}

.exportDropbtn:hover,
.exportOption:hover {
    background-color: var(--export-btn-hover-bg);
}

.importJson {
    background-color: var(--import-btn-bg);
}

.importJson:hover {
    background-color: var(--import-btn-hover-bg);
}

.clearEditors {
    background-color: var(--clear-btn-bg);
}

.clearEditors:hover {
    background-color: var(--clear-btn-hover-bg);
}

.informationDropbtn,
.infoOption {
    background-color: var(--dropbtn-bg);
}

.informationDropbtn:hover,
.infoOption:hover {
    background-color: var(--dropbtn-hover-bg);
}
